{% extends 'base.html' %}


{% load static %}

{% block header %}Product Detail{% endblock %}

{% block content %}
    <div>
        {% if product.photo %}
            <div>
                <img src="{{ product.photo.url }}" alt="" style="width: 250px">
            </div>
        {% else %}
            <div>
                <img src="{% static 'image/noimage.png' %}" alt="" style="width: 250px">
            </div>
        {% endif %}
        {% if product.user.full_name %}
            <h2>
                <b>
                    Author: {{ product.user.full_name }}
                </b>
            </h2>
        {% else %}
            <h2>
                <b>
                    Author: {{ product.user.username }}
                </b>
            </h2>
        {% endif %}

        <h3>{{ object.title }}</h3>
        <p>{{ object.body }}</p>
        <code>
            Created time : {{ product.created_time }}
        </code>
        <br>
        <code>
            Updated time : {{ product.updated_time }}
        </code>

        <form class="mt-5" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-grid gap-2 col-3 mt-4">
                <button class="btn btn-primary" type="submit">
                    Add to cart
                </button>
            </div>
        </form>


    </div>
{% endblock %}

